.resContainer{
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    overflow: auto;
    height: 90vh;
}

h2 {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}