<div class="prefContainer">
  <h2>Preferences</h2>

  <div class="prefGroup"> 
    <label>Major</label>
    <select id="major" [(ngModel)]="selectedMajor" (ngModelChange)="handleMajorChange($event)">
      <option *ngFor="let m of majors" [ngValue]="m">{{m}}</option>
    </select>
  </div>

  <div class="prefGroup"> 
    <label>Lifestyle Choices</label>
    <select id="lifestyle" [(ngModel)]="selectedLifestyle" (ngModelChange)="handleLifestyleChange($event)" multiple>
      <option *ngFor="let l of lifestyles" [ngValue]="l">{{l}}</option>
    </select>
  </div>

  <div class="prefGroup">
    <label>Preferred State</label>
    <select id="state" [(ngModel)]="selectedState" (ngModelChange)="handleStateChange($event)" multiple>
      <option *ngFor="let y of states" [ngValue]="y">{{y}}</option>
    </select>
  </div>

  <div class="prefGroup">
    <label>Expected Salary</label>
    <input type="number" [(ngModel)]="salary" (ngModelChange)="handleSalaryChange($event)"/>  
  </div>
</div>
