<div class="prefContainer">
  <h2>Preferences</h2>

  <div class="prefGroup"> 
    <label>Major</label>
    <select id="major" [(ngModel)]="selectedMajor" (ngModelChange)="handleMajorChange($event)">
      <option *ngFor="let m of majors" [ngValue]="m">{{m}}</option>
    </select>
  </div>

  <div class="prefGroup">
    <label>State</label>
    <select id="state" [(ngModel)]="selectedState" (ngModelChange)="handleStateChange($event)">
      <option *ngFor="let y of states" [ngValue]="y">{{y}}</option>
    </select>
  </div>

  <!-- <div class="prefGroup" *ngFor="let m of userPreferences">
    <label>{{m.name}}</label>
    <select id="{{m.name}}" [(ngModel)]="m.selectedOption" (ngModelChange)="eventChangeFunction($event)">
      <option *ngFor="let choice of m.options" [ngValue]="choice">{{choice}} </option>
    </select>
  </div> -->
  <div class="salaryGroup">
    <label>Salary</label>
    <input type="number" [(ngModel)]="salary" (ngModelChange)="handleSalaryChange($event)"/>  
</div>
