html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  
}


.components-container {
  margin-left: 3vw;
  margin-right: 3vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.map-item {
  height: 90%;
  width: 60%;
  margin: 2vw;
  align-self: center;
}

.pref-item {
  align-self: center;
}

.result-item {
  align-self: center;
  height: 90%;
}

button {
  height: 200px;
  width: 200px;
  background-color: red;
}