ul {
  list-style: none;
}
li {
  cursor: pointer;
}
  
  
.first {
  background-color: gold;
}
.second {
  background-color: silver;
}

.third {
  background-color: rgb(205, 127, 50);
}
  

.li-container {
  display: flex;
  flex-direction: column;
}


.flex-list-item {
  margin-bottom: 10px;
}