p {
    border-color: black;
    border-width: 5px;
    border-style: solid;
    text-align: center;
    margin-bottom: 20px;
}
* {
    cursor: pointer;
}
.list-row-container {
    border-width: 3px;
    border-color: black;
    border-style: solid;
    padding: 10px;
}

